.progressBar {
    width: 430px;
    height: 10px;
    background-color: lightgrey;
}

.progress {
    height: 10px;
    background-color: green;
}

.progress_exceeded {
    height: 10px;
    background-color: red;
}