.progressBar {
    width: 430px;
    height: 10px;
    background-color: lightgrey;
}

.progress {
    height: 10px;
    background-color: #2ecc71;
}

.progress_exceeded {
    width: 430px;
    height: 10px;
    background-color: #c0392b;
}